<div class="leftmenu " id="sidebar">
    <div class="panel  panel-info">
                <!-- Sidebar Menu -->
        <div class="panel-heading"><span class="menu-text">考勤系统</span></div>
            <ul class="nav nav-pills  nav-stacked">
            <li role="presentation">
                <a href="#" class="menu-dropdown">
                    <i class="menu-icon fa fa-user"></i>
                    <span class="menu-text">教师查询页面 </span>
                    <i class="menu-expand"></i>
                </a>
                <ul class="nav nav-pills  nav-stacked">
                    <li><a href="http://localhost:808/kqsystem/public/index.php/index/index/mistake">
                   <span class="menu-text">班级查询</span></a></li>
                </ul>
            </li>

            <li role="presentation">
                <a href="#" class="menu-dropdown">
                    <i class="menu-icon fa fa-list"></i>
                    <span class="menu-text">管理员管理</span>
                    <i class="menu-expand"></i>
                </a>
                <ul class="nav nav-pills  nav-stacked">
                    <li>
                        <a href="http://localhost:808/kqsystem/public/index.php/index/index/mistake">
                                    <span class="menu-text">
                                        管理员注册                                  </span>
                            <i class="menu-expand"></i>
                        </a>
                    </li>
                </ul>
            </li>

            <li role="presentation">
                <a href="#" class="menu-dropdown">
                    <i class="menu-icon fa fa-file-text"></i>
                    <span class="menu-text">学生查询</span>
                    <i class="menu-expand"></i>
                </a>
                <ul class="nav nav-pills  nav-stacked">
                    <li>
                        <a href="http://localhost:808/kqsystem/public/index.php/index/index/mistake">
                                    <span class="menu-text">
                                        查询结果                                   </span>
                            <i class="menu-expand"></i>
                        </a>
                    </li>
                </ul>
            </li>

            <li role="presentation">
                <a href="#" class="menu-dropdown">
                    <i class="menu-icon fa fa-link"></i>
                    <span class="menu-text">7</span>
                    <i class="menu-expand"></i>
                </a>
                <ul class="nav nav-pills  nav-stacked">
                    <li>
                        <a href="http://localhost:808/kqsystem/public/index.php/index/index/mistake">
                                    <span class="menu-text">
                                        8                                   </span>
                            <i class="menu-expand"></i>
                        </a>
                    </li>
                </ul>
            </li>

            <li role="presentation">
                <a href="#" class="menu-dropdown">
                    <i class="menu-icon fa fa-gear"></i>
                    <span class="menu-text">9</span>
                    <i class="menu-expand"></i>
                </a>
                <ul class="nav nav-pills  nav-stacked">
                    <li>
                        <a href="http://localhost:808/kqsystem/public/index.php/index/index/mistake">
                                    <span class="menu-text">
                                        10                                  </span>
                            <i class="menu-expand"></i>
                        </a>
                    </li>
                </ul>
            </li>
            </ul>





                <!-- /Sidebar Menu -->
            </div>
  </div>